@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  --fs-xl: 5rem;
  --fs-lg: 3.3rem;
  --fs-md: 2rem;
  --fs-sm: 1.5rem;
  --fs-xs: 0.5rem;
  --media-med: 600px;
}

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  /* font-family: "Righteous", Helvetica, sans-serif; */
  font-family: "Gruppo", cursive;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  background-image: url('./Images/coconuttrees.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.main-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  justify-self: center;
  align-items: center;
  height: auto;
  margin-top: 20px;

}

#inputsection {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  width: 80%;
  height: auto;
  max-height: 30%;
  max-width: 600px;
  /* align-content: center; */
  /* justify-content: center; */
  margin: 0 auto;
  padding-bottom: 15px;
}

#locationinput {
  width: 70%;
  height: 55px;
  align-items: center;
  font-size: var(--fs-sm);
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 3px;
  border: none;
}

#subButton {
  max-width: 400px;
  min-width: 200px;
  height: 50px;
  background-color: rgb(249, 241, 4);
  border-radius: 33px;
  font-size: var(--fs-sm);
  color: black;
  margin: 0 auto;
  width: 40%;
  border: none;
  font-weight: bold;
}

#info-section {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-rows: auto auto auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "location location coord"
    "temp wind humid"
    "cloud conditions conditions";
  color: white;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 70%;
  margin: 0 auto;
  border-radius: 40px;
  opacity: 2;
  padding-bottom: 40px;
}

@media only screen and (max-width: 500px) {
  #info-section {
    max-width: 80%;
    height: auto;
    max-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "location location"
      "coord temp"
      "wind humid"
      "cloud conditions";
    align-self: center;

  }

}

.that-icon {
  margin: 10px;
  font-size: clamp(1rem, 2rem, 9vw);
  /* font-size: 3.5rem; */
  /* color: red;  */
  animation-name: load-in;

  animation-timing-function: ease-in-out;
  /* animation-delay: 200ms; */
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}



.info-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 73, 172, 0.693);
  width: 100%;
  height: auto;
  border: 0.2px white solid;
  text-align: center;
  align-items: center;
  justify-content: start;
  /* justify-items: space-around; */
  animation-name: load-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  padding: 0px 2px;
  ;
}

.card-label {
  /* font-size: 1rem; */
  font-size: clamp(.5rem, 1.5rem, 4rem);

  font-weight: lighter;
  /* padding: 5px; */
  text-align: center;
  margin: 5px auto;
  letter-spacing: 1px;
}


.icon-container {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output-text {
  display: flex;
  /* font-size: var(--fs-lg); */
  font-size: clamp(1.2rem, 2.5rem, 6vw);
  max-width: 80%;
  padding: 0px 2px;
  text-align: center;
  animation-name: load-in;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  margin: 0 auto;
}



.timezone-text {
  font-size: var(--fs-sm);
}



sup {
  font-weight: lighter;
  font-size: 1rem;
}

.output-list {
  font-size: clamp(.8rem, 1.5rem, 6vw);
  list-style: none;
  padding: 0px 2px;
}


#location {
  grid-area: location;
  border-top-left-radius: 30px;
  height: auto;
  max-height: 100%;
  line-height: 1.1;
}


#coordinates {
  grid-area: coord;
}

#temp {
  grid-area: temp;
}

#wind {
  grid-area: wind;
}

#humidity {
  grid-area: humid;
}

#clouds {
  grid-area: cloud;
}

#conditions {
  display: flex;
  grid-area: conditions;
  border-color: royalblue 1px solid;
  border-bottom-right-radius: 30px;
  line-height: 1.1;
}

#conditions-report {
  padding-top: 7px
}