@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  --fs-xl: 5rem;
  --fs-lg: 3.3rem;
  --fs-md: 2rem;
  --fs-sm: 1.5rem;
  --fs-xs: 0.5rem;
  --media-med: 600px;
}

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media (min-width: var(--media-med)) {
} */

body {
  /* font-family: "Righteous", Helvetica, sans-serif; */
  font-family: "Gruppo", cursive;
  font-family: "Raleway", sans-serif;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/1167021/pexels-photo-1167021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  height: 100vh;
  gap: 3px;
  /* background-color: violet; */
}

#inputsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  align-content: center;
  justify-content: center;
  margin: 0 auto 4px;
  padding-bottom: 10px;
}

#locationinput {
  width: 90%;
  height: 55px;
  align-items: center;
  font-size: var(--fs-sm);
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 3px;
  border: none;
}

#subButton {
  width: 100%;
  height: 50px;
  background-color: rgb(249, 241, 4);
  border-radius: 30px;
  font-size: var(--fs-sm);
  color: black;
  margin: 0 auto;
  width: 40%;
  max-width: 400px;
  min-width: 200px;
  border: none;
  font-weight: bold;
}

#info-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "location location coord"
    "temp wind humid"
    "cloud conditions conditions";
  color: white;
  align-content: center;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  max-width: 700px;
  /* min-width: 300px; */
  margin: 0 auto;
  border-radius: 40px;
  opacity: 2;
}

@media only screen and (max-width: 500px) {
  #info-section {
    width: 90%;
    height: auto;
    max-height: 60vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "location location"
      "coord temp "
      "wind humid"
      "cloud conditions";

    margin-top: 10px;
  }
}

.that-icon {
  margin: 10px;
  font-size: 5rem;
  /* color: red;  */
  animation-name: load-in;

  animation-timing-function: ease-in-out;
  /* animation-delay: 200ms; */
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .that-icon {
    font-size: 2.5rem;
  }
}
/* .icon-container{
  height: auto;
  width: 40px;
  
} */

.info-card {
  display: flex;
  /* grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto; */
  flex-direction: column;
  background-color: rgba(7, 73, 172, 0.693);
  width: 100%;
  height: 100%;
  border: 0.2px white solid;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* justify-items: space-around; */
  animation-name: load-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.card-label {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  font-size: var(--fs-sm);
  font-weight: lighter;
  padding: 5px;
  text-align: center;
  margin: 5px auto;
  letter-spacing: 1px;
}

@media (max-width: 320px) {
  .card-label {
    font-size: 1.2rem;
  }
}

.icon-container {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.output-text {
  font-size: var(--fs-lg);
  max-width: 80%;
  /* padding: 10px; */
  text-align: center;
  /* grid-column-start: 2;
  grid-column-end: 3; */
  animation-name: load-in;
  animation-duration: 900ms;
  /* animation-delay: 1000ms; */
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .output-text {
    font-size: var(--fs-sm);
  }
}

sup {
  font-weight: lighter;
  font-size: 1rem;
}
.output-list {
  font-size: 2rem;
  list-style: none;
  padding-left: 3px;
}

@media (max-width: 500px) {
  .output-list {
    font-size: var(--fs-sm);
  }
}

#location {
  grid-area: location;
  border-top-left-radius: 30px;
  max-height: 100%;
}

#locationpin {
}

#coordinates {
  grid-area: coord;
}

#temp {
  grid-area: temp;
}

#wind {
  grid-area: wind;
}

#humidity {
  grid-area: humid;
}

#clouds {
  grid-area: cloud;
}

#conditions {
  grid-area: conditions;

  border-color: royalblue 1px solid;
  border-bottom-right-radius: 30px;
}

/* img {
  max-width: 100%;
  max-height: 100%;
  border-bottom-right-radius: 30px;
  object-fit: contain;
} */
